:root {
  --white: #fff;
  --black: #24292f;
  --border: #edeff3;
  --borderhover: #e0e4ee;
  --lightgrey: #6b7280;
  --darkgrey: #4b5563;
  --primary-blue: #4285f4;
  --viewcolor: #edeff3;
  --OffWhite: #f5f8fe;
}
