@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar {
  width: 6px;
  margin-right: 30px;
  background-color: rgb(225, 225, 225);
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border: none;
  border-radius: 16px;
  background-color: #a3a3a3;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar:horizontal {
  height: 5px;
}

.extra {
  margin-bottom: 8px;
}
